@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
  }
}

.gradient-text {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-primary to-primary-dark;
}

.excellence-gradient {
  @apply bg-clip-text text-transparent inline-block;
  background-image: linear-gradient(90deg, #e10078 0%, #260776 100%);
}

.section-padding {
  @apply py-4 px-4 sm:px-6 lg:px-8 lg:py-24;
}

.partners-carousel .swiper-slide {
  @apply transition duration-300;
}

.partners-carousel .swiper-slide:hover {
  opacity: 1;
}
